{% extends 'adminhome.html' %}
{% block 'body' %}
<h3 align="center"><u>Update Student</u></h3></h3><br>
<h4>
    Total Students = {{count}}
</h4>
<div style="text-align: center;">
    <input class="form-control" id="myInput" type="text" placeholder="Search by any Column">
</div>
<table style="margin: 0 auto;" border="2" width="50%" height="10%" class="table table-bordered table-striped">
    <thead>
    <tr bgcolor="lightblue" align="center">
    <td>Fullname</td>
    <td>Gender</td>
    <td>Department</td>
    <td>Program</td>
    <td>Semester</td>
    <td>Year</td>
    <td>Password</td>
    <td>Email</td>
    <td>Contact</td>
    <td>Action</td>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for student in studentsdata %}
    <tr align="center">
        <td>{{student.fullname}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.department}}</td>
        <td>{{student.program}}</td>
        <td>{{student.semester}}</td>
        <td>{{student.year}}</td>
        <td>{{student.password}}</td>
        <td>{{student.email}}</td>
        <td>{{student.contact}}</td>
        <td>
            <a href="/studentupdation/{{student.id}}">update</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include jQuery library -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}